/*Outer space color palette, from adobe cc*/
/*
#2b448c
#2a558c
#5ab8f3
#a0e3f2
#0d0d0d
*/
body {
  background-color: #5ab8f3;
}

h1, h2, h3 {
  font-family: 'Droid Serif' Times Serif;
  color: #0d0d0d;
}

button {
  text-transform: none;
  color: #0d0d0d;
}

header {
  background-color: #2a558c;
}
